/.env
/.env.backup
/.env.production
/auth.json
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
